#auth {
  background-image: url('../../../public/auth-background.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

#auth #auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(11,11,11,.65);
  padding: 4rem;
  border-radius: 2rem;
}

#auth img {
  width: 40%;
}

#auth form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
